:root {
  /* color variables */
  --icon-bg: #2f3941;
  --chip-bg: #bed5d8;
  --table-bg: #faf8d8;

  --back-gradient-start: rgba(130, 183, 221, 0.15);
  --back-gradient-end: rgba(130, 183, 221, 0.8);

  --lay-gradient-start: rgba(231, 170, 184, 0.15);
  --lay-gradient-end: rgba(231, 170, 184, 0.8);

  color: var(--white);
}

.match-header {
  background-color: var(--light-neavy);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon-wrapper {
    width: 29px;
    height: 28px;
    background: var(--icon-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 6px;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .head {
    color: var(--white);
    font-weight: bold;
    font-size: 14px;

    small {
      opacity: 0.7;
      font-weight: normal;
    }
  }

  .min-max-details {
    margin-right: 10px;
    font-size: 11px;

    .chip {
      border-radius: 2px;
      padding: 1px 16px;
      color: var(--primary);
      background-color: var(--chip-bg);
    }
  }
}

table {
  border-spacing: 1px 0px;
  border-collapse: separate;
  background-color: var(--table-bg);
  color: var(--black);

  &.match-odds-table {
    tr {
      td {
        height: 40px;
        border-top: 1px solid var(--tbl-border-color);
      }
    }
  }

  th {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    height: 30px;
  }

  tr {
    th {
      &:not(:first-child) {
        width: 18.66667vw;
      }
    }

    td:first-child:not(.price) {
      text-align: start;
      padding: 3px 10px;
    }

    td {
      text-align: center;
      position: relative;
      padding: 4px 0 2px;
      font-size: 12px;

      &:not(:first-child) {
        width: 8.97%;

        @media screen and (max-width: 767px) {
          width: 18.667vw;
        }
      }

      &.suspend-hover {
        position: relative;
        z-index: 2;
      }

      .runner-name {
        font-size: 12px;
        font-weight: 600;
      }
    }

    &.suspended {
      position: relative;

      &::after {
        content: attr(data-title);
        position: absolute;
        top: 0;
        right: 0;
        width: 54%;

        @media (max-width: 767px) {
          width: 38%;
        }

        height: 100%;
        background-color: rgba(36, 58, 72, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        font-size: 13px;
        cursor: default;
        text-transform: capitalize;
        z-index: 9;
        opacity: 0.9;
        font-weight: 700;
      }
    }
  }

  .price {
    background-color: transparent;
    position: relative;
    z-index: 1;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;

    p {
      font-weight: bold;
      line-height: 1;
      font-size: 12px;
    }

    span {
      line-height: 1;
      font-size: 12px;
    }
  }

  td.back {
    background-color: var(--back-0);

    &::after {
      content: '';
      position: absolute;
      inset: 4px;
      border-radius: 4px;
      border: 1px solid var(--white);
      z-index: -1;
    }
  }

  td.lay {
    background-color: var(--lay-0);

    &::after {
      content: '';
      position: absolute;
      inset: 4px;
      border-radius: 4px;
      border: 1px solid var(--white);
      z-index: -1;
    }
  }

  // td.back,
  // td.back1,
  // td.back2,
  // td.lay,
  // td.lay1,
  // td.lay2 {
  //   background: none;
  // }

  td.back2,
  td.lay {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(300% + 2px);
      height: 100%;
      z-index: -1;
      pointer-events: none;
      border-radius: 3px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  td.back2::before {
    background: linear-gradient(
      90deg,
      var(--back-gradient-start) 0%,
      var(--back-gradient-end) 65%
    );
  }

  td.lay::before {
    background: linear-gradient(
      270deg,
      var(--lay-gradient-start) 5%,
      var(--lay-gradient-end) 60%
    );
  }
}

.liability,
.profit {
  margin-right: 5px;

  svg {
    color: inherit;
  }
}

.liability {
  color: var(--liability-color);
}

.profit {
  color: var(--profit-color);
}

.profit-arrow,
.liability-arrow {
  @media (min-width: 768px) {
    margin-right: 2px;
    margin-top: -2px;
  }

  @media (max-width: 767px) {
    svg {
      width: 2.66667vw;
      height: 2.66667vw;
      margin: -0.53333vw 1.06667vw 0 0;
    }
  }
}
