.live-streaming-wrapper {
  position: relative;
  max-width: 500px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }

  @media screen and (max-width: 425px) {
    max-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  &.wicket-theme {
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  .live-streaming {
    max-width: 480px;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    border: none;

    @media screen and (max-width: 767px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .close-icon-wrapper {
    position: absolute;
    top: 15px;

    @media screen and (max-width: 1920px) {
      right: 15px;
    }

    @media screen and (max-width: 991px) {
      right: 0;
    }

    @media screen and (max-width: 767px) {
      right: 10px;
    }
  }

  .close {
    height: 35px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 999;
    color: var(--white);
    transition: opacity 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }

    svg {
      height: 14px;
      width: 14px;
    }

    @media screen and (max-width: 767px) {
      height: 8.33333vw;
      width: 8.33333vw;

      svg {
        height: 2.73333vw;
        width: 2.73333vw;
      }
    }
  }

  &:hover .close {
    opacity: 1;
  }

  .fullscreen {
    position: absolute;
    right: 18px;
    bottom: 20px;

    @media screen and (max-width: 767px) {
      right: 16px;
    }
  }
}


.score-iframe-wrapper {
  .score-iframe {
    margin: 0 auto;
    display: block;
    border: none;
    width: 100%;
  }

  &.mobile-score-iframe-wrapper {
    background-color: #1e1e1e;

    @media screen and (max-width: 425px) {
      overflow: hidden;
      padding-top: 4px;
    }

    .score-iframe {
      @media screen and (max-width: 767px) {
        height: 180px;
      }

      @media screen and (max-width: 425px) {
        margin: 0 -12px;
        width: calc(100% + 24px);
      }
    }
  }
}

.mobile-live-streaming {
  background: var(--white);
  max-width: 100%;
  width: 100%;
  z-index: 99;
  top: 96px;
  transition: all 0.3s ease-in-out;

  &:hover .close {
    opacity: 1;
  }

  &.tv-url {
    position: fixed;
    top: 120px;
    left: calc(50% - 40px);
    z-index: 999;
    max-width: 260px;
    height: auto;
    transition: all 0.3s ease-in-out;
    max-height: 32vw;

    @media screen and (max-width: 767px) {
      top: 14.583vw;
      left: unset;
      right: 1vw;
      max-width: 54.167vw;
      border-radius: 2vw;
      overflow: hidden;
    }

    &.left-side {
      top: 14.583vw;
      border-radius: 0;
      max-width: 48.167vw;
    }

    .live-streaming {
      max-width: 260px;
      height: auto;

      @media screen and (max-width: 767px) {
        max-width: 54.167vw;
        height: 32vw;
      }
    }

    .close-icon-wrapper {
      top: 5px;
      right: 5px;

      @media screen and (max-width: 767px) {
        top: 1.042vw;
        right: 1.042vw;
      }
    }

    .close {
      opacity: 1;
      border-radius: 100%;
      height: 15px;
      width: 15px;

      @media screen and (max-width: 767px) {
        height: 3.125vw;
        width: 3.125vw;
      }
    }
  }
}

.img-placeholder {
  max-height: 255px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.live-tabs {
  background-image: linear-gradient(-180deg, #2e4b5e, #243a48 82%);
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 0;

  .nav-item {
    flex: 1;

    .nav-link {
      color: var(--white);
      text-align: center;
      width: 100%;
      padding-bottom: 10px;
      background: transparent;
      border: 0;
      padding-top: 10px;
      cursor: pointer;

      &.active {
        background: linear-gradient(0deg, #0e202b, #2371ac);
      }
    }
  }
}
