.events {
  max-height: calc(100vh - 104px);
  overflow-y: auto;

  &.light-sidebar {
    li {
      color: var(--blue);
      border-bottom: 1px solid var(--light-bg);

      &.active {
        background: linear-gradient(180deg, #546d7d 0%, var(--text-color) 100%);
      }
    }
  }

  &.mcw-sidebar {
    li {
      color: #222222;
      border-bottom: 1px solid #eee1c0;

      &:hover {
        background-color: #ece4b9;
      }

      &.active {
        color: #222222;
        background: #e5ca3a;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    position: relative;
    height: 25px;
    color: var(--white);
    font-size: 12px;
    line-height: 25px;
    overflow: hidden;
    background-position: initial;
    padding: 0 10px;
    border-bottom: 1px solid rgba(var(--white-rgb), 0.15);

    &:hover,
    &.sub-title {
      background: rgba(var(--white-rgb), 0.1);
    }

    &.active {
      color: var(--white);
      background: var(--primary);
    }

    &.selected {
      background-color: rgba(var(--primary-rgb), 0.6);
      color: var(--white);
    }

    &.match-odds {
      padding-left: 20px;

      &:before {
        content: '•';
        left: 5px;
        font-size: 20px;
        position: absolute;
        color: var(--sm-white);
      }

      &.in-play {
        &:before {
          color: var(--xs-green-primary);
        }
      }

      &.active {
        background: rgba(var(--xss-green-primary), 0.6);
      }
    }
  }
}

.yellow-theme {
  .match-odds.active {
    background-color: #f2dca7 !important;
    color: var(--dark);
  }

  .active-sport {
    background: linear-gradient(
      180deg,
      rgb(84, 109, 125) 0%,
      rgb(59, 81, 96) 100%
    );
    color: var(--white) !important;
  }
}

.mcw-theme {
  .match-odds.active {
    background-color: rgba(229, 202, 58, 0.6) !important;
    color: var(--dark);
  }

  .active-sport {
    color: #ffd45f !important;
    background-image: linear-gradient(180deg, #393939 0%, #000000 100%);

    &:hover {
      background-image: linear-gradient(180deg, #474747 0%, #070707 100%);
    }
  }
}
