.modal.show.d-block {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content {
  border-radius: 6px;
  border: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 16px;

  .title-text {
    font-size: 16px;
    color: #3b5160;
    font-weight: 700;
    font-family: Tahoma, Helvetica, sans-serif;
  }

  .close-modal {
    color: #3b5160;
    line-height: 1;

    .close-icon {
      display: inline-flex;
    }
  }
}

.modal-body {
  padding: 16px;
}
