
@font-face {
	font-family: Tahoma, Helvetica, sans-serif;
	src: url('./tahoma-sans/TahomaRegular.eot');
	src: url('./tahoma-sans/TahomaRegular.woff') format('woff'),
		url('./tahoma-sans/TahomaRegular.woff2') format('woff2'),
		url('./tahoma-sans/TahomaRegular.ttf') format('truetype'),
		url('./tahoma-sans/TahomaRegular.svg') format('svg');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: Tahoma, Helvetica, sans-serif;
	src: url('./tahoma-sans/TahomaBold.eot');
	src: url('./tahoma-sans/TahomaBold.woff') format('woff'),
		url('./tahoma-sans/TahomaBold.woff2') format('woff2'),
		url('./tahoma-sans/TahomaBold.ttf') format('truetype'),
		url('./tahoma-sans/TahomaBold.svg') format('svg');
	font-display: swap;
	font-weight: 700;
}
