.live-odds-wrapper {
  .odds-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (max-width: 767px) {
      gap: 0.75rem;
    }
  }
}

.score-game-header {
  margin-right: 0;
  line-height: 2;
  background: var(--white);

  &.blue-header {
    background: linear-gradient(180deg, #2f424d 0%, #141e21 100%);
    color: var(--white);

    h6 {
      color: var(--white);
    }
  }

  small {
    font-size: 3.2666666667vw;
    font-weight: 400;
  }

  .inplay {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
    background: linear-gradient(-180deg, #6bbd11 0%, #2e730d 79%);
    color: var(--white);
    font-weight: 700;

    .time {
      display: inline-flex;
      width: 14px;
      height: 14px;
      margin-right: 6px;
      background: url('/img/svg/live-icon.svg') no-repeat center / contain;
    }
  }
}

.pip-spacer {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.mobile-live-streaming {
  &.tv-url {
    position: fixed;
    top: 14.6666666667vw;
    left: 0;
    right: 0;
    z-index: 999;
  }
}

.mobile-odds-wrapper {
  @media screen and (max-width: 767px) {
    margin-top: 56vw;
  }
}
