.nav-tabs {
  width: 40%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.mobile-detail.yellow-theme:last-of-type {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .accordion .accordion-item .accordion-header .accordion-button {
    background-image: none;
  }
}

.inplay-wrapper {
  @media screen and (min-width: 768px) {
    padding-top: 10px;
  }
}

.second-part-wrapper {
  max-height: calc(100vh - 198px);
  overflow-y: auto;
  min-height: 200px;

  &.yellow-theme {
    max-height: 100svh;
  }

  @media screen and (max-width: 767px) {
    max-height: unset;
    min-height: unset;
    overflow-y: visible;

    &.yellow-theme {
      max-height: unset;
    }
  }
}

.game-title {
  background: linear-gradient(-180deg, var(--xl-blue) 0%, var(--xxl-blue) 82%);
  padding: 8px;
  color: var(--white);
  font-size: 12px;

  @media screen and (max-width: 767px) {
    text-align: center;
    font-weight: 600;
    font-size: 3.73333vw;
    line-height: 1.05;
    padding: 2.043vw;
  }
}

.game-details-row {
  border-bottom: 1px solid var(--light-bg);
  display: flex;
  align-items: center;
  padding: 0 6px 0 10px;

  @media screen and (min-width: 768px) {
    .time {
      color: var(--light-navy);
      font-size: 12px;
      padding: 8px 0;
      max-width: 70px;
      width: 100%;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  h6 {
    color: var(--blue);
    font-size: 12px;
    position: relative;
    padding-left: 18px;
    font-weight: bold;

    &::before {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent var(--sm-white);
      transform: rotate(0deg);
      left: 0;
      top: 3px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    background-color: var(--hover-bg);
  }
}

.event-name-wrapper {
  margin-bottom: 4px;
  background-color: var(--xxs-text-color);
  padding: 8px 0;
}

.sport-filter {
  &-popup {
    margin-top: 2px !important;
    min-width: 500px;
    max-width: 500px;

    .popover-body {
      padding: 8px;
      font-size: 12px;

      * {
        font-family: Tahoma, Helvetica, sans-serif;
      }
    }
  }

  &-footer {
    border-top: 1px solid var(--bg-xs-light);

    .btn-primary {
      width: 120px;
    }

    .btn-white {
      width: 77px;
    }
  }
}

.sport-filter-wrapper {
  position: relative;
  padding: 10px 10px 10px;
  background-color: var(--light-bg);
  border-bottom: 1px solid var(--sm-text-color);
  margin-bottom: 10px;

  .b-cumb {
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 6px;

    & + .b-cumb {
      padding-left: 10px;
      background-image: url(/img/filter-dot.png);
    }
  }

  .btn-filter {
    min-width: 95px;
  }
}

.inplay-tabs-wrapper {
  @media screen and (max-width: 767px) {
    background: #172832;
    color: var(--white);
    font-size: 3.7333333333vw;
    line-height: 2.2;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-bottom: 0 !important;

    .nav-tabs {
      border: none;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      .nav-item {
        .nav-link {
          font-size: 3.33333vw;
        }
      }
    }

    .search-collapse {
      .search-out {
        border-left: 1px solid rgba(var(--white-rgb), 0.15);
        background-image: linear-gradient(
          -180deg,
          rgba(var(--white-rgb), 0.15) 0%,
          rgba(var(--black-rgb), 0.15) 100%
        ) !important;
      }
    }
  }
}
