.mobile-sports-container {
  .tabs-wrapper {
    display: flex;
    box-shadow: inset 0 1px 0 0 rgba(var(--black-rgb), 0.2);
    align-items: center;
    background: var(--md-black);

    &.yellow-theme {
      @media screen and (max-width: 767px) {
        border-color: #ffa10c;
        border-bottom-width: 0.1875rem;
        border-color: rgb(255, 161, 12);

        .sport-header-tabs {
          background: linear-gradient(
            180deg,
            rgb(0, 0, 0) 0%,
            rgb(0, 0, 0) 100%
          );
          color: var(--white);

          li {
            button {
              &.active {
                background: linear-gradient(
                  180deg,
                  var(--md-primary-yellow) 0%,
                  #ffa10c 100%
                );
              }
            }
          }
        }
      }
    }

    &.babu-theme {
      @media screen and (max-width: 767px) {
        border-color: #550b0b;
        border-bottom-width: 0.1875rem;
        border-color: #550b0b;

        .sport-header-tabs {
          background: linear-gradient(
            180deg,
            rgb(0, 0, 0) 0%,
            rgb(0, 0, 0) 100%
          );
          color: var(--white);

          li {
            button {
              &.active {
                background: linear-gradient(0deg, #fd1111, #0e0e0e);
                color: var(--white);

                i {
                  color: var(--white);
                }
              }
            }
          }
        }
      }
    }

    &.mcw-side-header {
      @media screen and (max-width: 767px) {
        border-color: #0d0d0d;
        background: linear-gradient(180deg, #e8d877 0%, #c9a43e 100%);

        .sport-header-tabs {
          background: linear-gradient(180deg, #e8d877 0%, #c9a43e 100%);

          li {
            button {
              color: #1e1e1e;

              svg {
                color: #1e1e1e;
              }

              &.active {
                background: linear-gradient(180deg, #474747 0%, #070707 100%);
                color: #f2d65e;

                svg {
                  color: #f2d65e;
                }
              }
            }
          }
        }
      }
    }

    border-bottom: 0.7vw solid var(--lg-yellow);

    .sport-header-tabs {
      background: var(--md-black);
      display: flex;
      margin-right: auto;
      padding-right: 4vw;
      flex-wrap: nowrap;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        flex: none;

        button {
          position: relative;
          margin-left: 1.8666666667vw;
          height: 9.79vw;
          font-weight: 700;
          color: var(--white);
          line-height: 2.6;
          padding: 0 1.8666666667vw;
          margin-top: 2.6666666667vw;
          border-radius: 1.6vw 1.6vw 0 0;

          i {
            color: var(--white);
            margin: 2.1333333333vw 1.6vw 0 0;

            svg {
              width: 5.3333333333vw;
              height: 5.3333333333vw;
            }
          }

          &.active {
            background-color: var(--lg-yellow);
            color: var(--black);

            i {
              color: var(--black);
            }
          }

          .live-chip {
            height: 3.2vw;
            top: -1.966666667vw;
            right: 1.3333333333vw;
            min-width: 9.3333333333vw;
            box-shadow: 0 0.2666666667vw 0.8vw 0 rgba(var(--black-rgb), 0.5);
            border-radius: 0.8vw;

            .icon-out {
              height: 3.2vw;
              width: 5vw;

              i {
                margin: 0;
              }

              svg {
                width: 3.533333vw;
                height: 3.1333333333vw;
              }
            }

            .number {
              font-size: 2.5vw;
              font-weight: normal;
              padding: 0 1.3333333333vw;
            }
          }
        }
      }
    }

    .search-collapse {
      position: relative;
      border-left: 1px solid rgba(var(--white-rgb), 0.1);

      &::before {
        content: '';
        position: absolute;
        right: 12.8vw;
        width: 8.2666666667vw;
        height: 12.2666666667vw;
        background-image: linear-gradient(
          90deg,
          rgba(var(--black-rgb), 0) 0%,
          var(--black) 110%
        );
      }
    }
  }
}
