.search-wrapper {
  position: relative;
  max-width: 280px;
  width: 100%;
  min-width: 150px;
  flex: 0 0 auto;

  @media screen and (max-width: 1440px) {
    flex: 0 0 50%;
  }

  i {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 1002;

    svg {
      height: 14px;
      width: 14px;
      color: var(--dark-grey);
    }
  }
}

.search-events {
  width: 100%;

  &.ng-select-opened {
    box-shadow: 0 0 4px 2px rgba(114, 187, 239, 0.8);
    border: 1px solid #2789ce;
    border-radius: 4px;
  }

  input {
    background-color: var(--white);
    height: 25px;
    min-height: auto;
    padding: 0 4px 0 25px;
    font-size: 12px;
    border-radius: 4px;
    min-width: 280px;
    border: 0;
    &::placeholder {
      color: var(--xxl-gray);
    }
    &:focus {
      outline: none;
    }

    @media screen and (max-width: 768px) {
      min-width: 150px;
    }
  }

  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        background-color: var(--white);
        color: var(--neavy-dark);
        font-size: 14px;
        white-space: normal !important;
        word-break: break-word;
        line-height: 1.4;

        &:hover {
          background-color: var(--light-yellow) !important;
        }

        .ng-option-label {
          white-space: normal !important;
          display: block;
        }
      }
    }
  }
}

.inplay-wrapper .inplay-tabs-row {
  // background-color: #172832;
  border-top: 1px solid var(--white);
}
.search-collapse {
  position: relative;
  background: linear-gradient(
    -180deg,
    rgba(var(--white-rgb), 0.15),
    rgba(var(--black-rgb), 0.15)
  ) !important;

  .search-out {
    width: 12.8vw;
    display: flex;
    align-items: center;
    height: 12.45vw;
    justify-content: center;
    background: linear-gradient(
      -180deg,
      rgba(var(--white-rgb), 0.15),
      rgba(var(--black-rgb), 0.15)
    );
    color: #fff;

    i {
      svg {
        width: 5.86667vw;
        height: 100%;
      }
    }
  }

  .search-events-mobile {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    transition: all 0.7s ease-in-out;
    z-index: 999;

    &.open {
      opacity: 1;
      pointer-events: all;
    }

    .search-events-inner {
      background-color: var(--white);
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;

      .ng-select {
        width: 100%;

        .ng-select-container {
          border-radius: 0;
          border: 0;
          height: 66px;

          .ng-placeholder {
            color: #9b9b9b;
            margin-left: 0;
          }

          .ng-value-container .ng-input {
            input {
              height: 46px;
            }
          }

          .ng-clear-wrapper {
            width: 22px;

            .ng-clear {
              font-size: 36px;
              line-height: 20px;
              color: #000;
            }
          }
        }

        .ng-arrow-wrapper {
          display: none;
        }
      }

      .search-icon {
        padding: 10px;
        line-height: 45px;

        svg {
          width: 6.66667vw;
          height: 6.06667vw;

          path {
            fill: #000;
          }
        }
      }
    }

    .search-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: -1;
    }
  }
}

.mcv-yellow-theme .inplay-wrapper .inplay-tabs-row {
  background-color: transparent;
}
:host-context(.yellow-theme) {
  .search-events.ng-select.ng-select-opened {
    border: 0.0625rem solid #015fcc;
    box-shadow: 0 0 0.25rem 0.125rem #72bbefcc;
    outline: none;
  }
}
