.header {
  display: flex;
  align-items: center;
  padding: 8px 25px 8px 20px;
  height: 74px;
  background: var(--primary);
  min-width: 1350px;

  @media screen and (max-width: 767px) {
    padding: 2.6666666667vw 1.8666666667vw 2.6666666667vw 0;
    height: 14.6666666667vw;
    min-width: auto;
  }

  .btn-live {
    position: relative;
    background: #beaf0d;
    color: var(--white);
    border-color: #948800;
    padding: 1.8666666667vw 1.8666666667vw 1.3333333333vw;
    width: 11.2vw;
    border-radius: 0;
    box-shadow: inset 0 0.2666666667vw 0 0 rgba(255, 255, 255, 0.4);

    &::before {
      display: inline-block;
      content: '';
      background-image: url(/img/svg/mobile-live-icon.svg);
      vertical-align: middle;
      height: 5.266666667vw;
      width: 5.6vw;
      background-size: contain;
      background-position: center;
    }

    &-close {
      background: var(--lg-orange);
      border-color: var(--mds-orange);

      &::before {
        background-image: url(/img/svg/mobile-close-icon.svg);
      }
    }
  }

  .btn-bet {
    align-items: center;
    max-width: fit-content;
    width: 100%;
    font-size: 16px;
    min-width: auto;

    @media screen and (max-width: 767px) {
      padding: 1.8666666667vw 0 1.3333333333vw;
      border-radius: 0 1.0666666667vw 1.0666666667vw 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 29.3333333333vw;
      max-width: 31.2vw;
      font-size: 3.4666666667vw;
      font-weight: 700;
      border-left: 0;
      width: auto;
      color: var(--white);
    }

    &.small {
      @media screen and (max-width: 767px) {
        min-width: 18.0333333333vw;
        max-width: 21.2vw;
      }
    }

    i {
      @media screen and (max-width: 767px) {
        margin-right: 1.3333333333vw;
      }

      svg {
        height: 26px;
        width: 26px;

        @media screen and (max-width: 767px) {
          width: 5.33333vw;
          height: 5.33333vw;
        }
      }
    }
  }

  .logo-wrapper {
    img {
      object-fit: cover;
      height: auto;
      width: auto;
      max-width: 100px;
      max-height: 50px;
    }
  }

  .search-wrapper {
    position: relative;
    max-width: 280px;
    width: 100%;
    min-width: 150px;
    flex: 0 0 auto;

    i {
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      z-index: 1002;

      svg {
        height: 14px;
        width: 14px;
        color: var(--dark-grey);
      }
    }

    .search-events {
      box-shadow: inset 0px 1px 0px rgba(var(--black-rgb) 0.5);

      .ng-select-container {
        padding-left: 26px;
        height: 17px;

        .ng-value-container {
          align-items: center;
        }

        input {
          text-indent: 26px;
        }

        .ng-clear-wrapper {
          margin: -4px 0;
          background-color: var(--md-white);
          align-items: center;
          display: flex;
          justify-content: center;
        }

        .ng-placeholder {
          color: var(--lg-gray);
        }
      }

      .ng-dropdown-panel {
        background-color: var(--white);
        left: 0;

        // top: 4px;
        .ng-option {
          padding: 3px 6px;
          height: 32px;
          line-height: 28px;

          &:hover {
            text-decoration: underline;
            background-color: var(--xxs-gray);
          }
        }
      }
    }
  }

  .balance-wrapper {
    .balance-outer {
      display: flex;
      align-items: center;
      color: var(--white);

      &.dark-text {
        a {
          color: var(--dark);
        }

        .balance-main {
          &.exposure {
            .value {
              color: var(--dark);
            }
          }
        }
      }

      a {
        color: var(--white);
        text-decoration: none;

        span {
          opacity: 0.7;

          &.value {
            font-weight: 700;
            opacity: 1;
          }
        }
      }

      &.king-balance {
        background-color: rgba(var(--black-rgb), 0.1);
        border: 1px solid rgba(var(--black-rgb), 0.4);
        box-shadow: inset 0 0.2666666667vw 0 0 rgba(var(--white-rgb), 0.5);
        border-radius: 4px;
        padding: 2px 6px;
        width: 100%;

        .counter {
          flex: 1;
        }

        .balance-main {
          text-align: left;
          font-size: 2.8vw;
          flex: 1;

          .exposure {
            .value {
              border-radius: 0;
              padding: 1px 3px;
            }
          }
        }

        .refresh-btn {
          box-shadow: none;
          border: 0;
          background: transparent;
          padding: 0 3px;
          height: auto;
        }
      }
    }

    .balance-main {
      padding-right: 14px;

      @media screen and (max-width: 767px) {
        padding-right: 2.1333333333vw;
        text-align: end;
        font-size: 3.2vw;
      }

      p {
        margin-bottom: 0;

        &.exposure {
          .value {
            color: var(--white);
            padding: 1px 5px;

            // background-color: var(--md-primary);
            &.red-exposure {
              color: #d0021b !important;
              border-radius: 5px;

              &.sm-red {
                color: #ff4040 !important;
              }
            }
          }
        }
      }
    }

    .btn-primary {
      height: 26px;
      padding: 0 6px;
      background: rgba(var(--black-rgb), 0.3);
      border-color: rgba(var(--black-rgb), 0.3);
      box-shadow: inset 0 1px 0 0 rgba(var(--white-rgb), 0.5);
      font-weight: 400;
      font-size: 12px;

      @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        height: 9.4666vw;
        width: auto;
        padding: 1.7vw 1.8666666667vw;
        background-color: rgba(var(--black-rgb), 0.1);
        border: 1px solid rgba(var(--black-rgb), 0.4);
        box-shadow: inset 0 0.2666666667vw 0 0 rgba(var(--white-rgb), 0.5);
      }

      &:hover {
        text-decoration: underline;
      }

      svg {
        height: 18px;
        width: 18px;
      }

      .dropdown-icon {
        svg {
          height: 18px;
          width: 8px;
        }
      }

      &.refresh-btn {
        width: 28px;

        @media screen and (max-width: 767px) {
          width: auto;
        }

        svg {
          height: 14px;
          width: 14px;

          @media screen and (max-width: 767px) {
            width: 5.0666666667vw;
            height: 5.0666666667vw;
          }
        }
      }
    }
  }
}

.setting-icon {
  height: 9.4666vw;
  width: auto;
  padding: 1.7vw 1.2666666667vw;
  border-radius: 1.0666666667vw;
  margin-left: 2.1333333333vw;
  display: flex;
  align-items: center;

  svg {
    color: var(--white);

    @media screen and (max-width: 767px) {
      width: 6.0666666667vw;
      height: 6.0666666667vw;
    }
  }
}

:host {
  .popover.stake-popup-container {
    @media screen and (max-width: 767px) {
      transform: none !important;
      position: fixed !important;
      inset: 0 !important;
      z-index: 99;
      max-width: 100%;
      margin-top: 0 !important;
      border-radius: 0;
      overflow-y: auto;
      padding-bottom: 16.33333vw;
    }

    .popover-body {
      @media screen and (max-width: 767px) {
        padding: 0;
      }
    }
  }

  .my-account-popup {
    border: none;
    width: 230px;

    .popover-body {
      padding: 0;
      font-size: 12px;
      font-family: Tahoma, Helvetica, sans-serif;

      .title {
        border-bottom: 1px solid var(--sm-text-color);

        p {
          &:first-child {
            color: var(--text-color);
            padding: 5px 5px 5px 10px;
            flex: 1;
            border-right: 1px solid var(--sm-white);
            font-weight: 700;
            font-size: 12px;
          }

          &.timezone {
            line-height: 16px;
            padding: 5px;
          }
        }
      }

      ul {
        li {
          padding: 0 10px;
          border-bottom: 1px solid var(--light-bg);
          line-height: 25px;
          cursor: pointer;

          &:hover {
            background-color: var(--xxs-gray);
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -999;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  background-color: var(--white);

  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }
}

.yellow-theme {
  background: linear-gradient(180deg, #ffcb2e 0%, #ffb80c 100%);

  // .site-logo{
  // 	filter: brightness(0);
  // }
  .value {
    color: var(--dark) !important;
  }

  .refresh-btn {
    background: transparent !important;

    svg {
      filter: brightness(0) !important;
    }
  }

  .btn-primary.ms-sm-2 {
    background: transparent !important;
    color: var(--dark);
  }
}

.yellow-btn {
  @media screen and (max-width: 767px) {
    color: var(--dark) !important;
    background-color: transparent !important;

    svg {
      filter: brightness(0) !important;
    }
  }
}

.mcw-btn {
  @media screen and (max-width: 767px) {
    background: rgba(255, 255, 255, 0.1) !important;
    color: #ffd45f !important;

    svg {
      color: #ffd45f !important;

      path {
        fill: #ffd45f !important;
      }
    }
  }
}

.mcw-casino-theme {
  background: linear-gradient(180deg, #2f2f2f 0%, #010101 100%);

  .label {
    color: #ffd45f !important;
    opacity: 1 !important;
  }

  .value {
    color: #ffd45f !important;
  }

  .refresh-btn {
    background: rgba(255, 255, 255, 0.1) !important;

    svg {
      color: #ffd45f !important;
    }
  }

  .btn-primary.ms-sm-2 {
    background: rgba(255, 255, 255, 0.1) !important;
    color: #ffd45f;
  }
}

.static-label {
  background-color: rgba(var(--black-rgb), 0.1);
  box-shadow: inset 0 0.2666666667vw 0 0 rgba(var(--white-rgb), 0.3);
  border: 1px solid rgba(var(--black-rgb), 0.1);
  padding-inline: 8px;
  font-size: 12px;
}

.loading-bar span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--white);
  margin-right: 6px;
  opacity: 0;
  animation: loadBar 0.8s ease infinite;
  display: inline-block;

  @media screen and (max-width: 767px) {
    background-color: var(--black);
  }

  &:first-child {
    animation-delay: 0s;
    opacity: 0.7;
  }

  &:nth-child(2) {
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    animation-delay: 0.3s;
  }

  &:nth-child(5) {
    animation-delay: 0.4s;
  }

  &:nth-child(6) {
    animation-delay: 0.5s;
  }

  &:nth-child(7) {
    animation-delay: 0.6s;
  }

  &:nth-child(8) {
    animation-delay: 0.7s;
  }
}

@keyframes loadBar {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
    transform: scale(1.4);
  }

  100% {
    opacity: 0.1;
  }
}

.stake-mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary);

  span {
    font-size: 4vw;
    font-weight: 700;
  }

  .setting {
    padding: 0 1.8666666667vw;
    line-height: 2.6;
    border-right: 1px solid rgba(var(--white-rgb), 0.3);
    flex: 1;
    color: var(--white);

    svg {
      width: 6.3333333333vw;
      height: 6.3333333333vw;
      margin-right: 1.3333333333vw;
    }
  }

  .close {
    padding: 0 3vw;
    line-height: 2.2;
    cursor: pointer;

    svg {
      height: 3.8vw;
      width: 3.8vw;

      path {
        fill: var(--white);
      }
    }
  }

  &.yellow-theme {
    background: linear-gradient(
      180deg,
      var(--sm-primary-yellow, #ffcb2e) 0%,
      var(--md-primary-yellow, #ffb80c) 100%
    );
  }

  &.mcw-casino-theme {
    background: linear-gradient(180deg, #2f2f2f 0%, #010101 100%);
  }
}

.popover.stake-popup-container {
  @media screen and (max-width: 767px) {
    transform: none !important;
    position: fixed !important;
    inset: 0 !important;
    z-index: 99;
    max-width: 100%;
    margin-top: 0 !important;
    border-radius: 0;
    overflow-y: auto;
    padding-bottom: 16.33333vw;
  }

  .popover-body {
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
}
