.open-bets-accordion {
  .accordion {
    .accordion-item {
      border-radius: 0;

      .accordion-header {
        position: relative;
        background: linear-gradient(
          180deg,
          var(--xts-blue) 0%,
          var(--xts-blue) 100%
        );
        box-shadow: 0 2px 0 rgba(var(--white-rgb), 0.1);

        .accordion-button {
          background-image: url(/img/grediant-slip-minus.png);
          box-shadow: 0 2px 0 rgba(var(--white-rgb), 0.1);
        }

        &.collapsed {
          .accordion-button {
            background-image: url(/img/grediant-slip-plus.png);
          }
        }
      }
    }
  }

  .open-bets {
    i {
      height: 25px;
      width: 25px;
      line-height: 20px;
      color: var(--white);
      text-align: center;
      border-right: 1px solid var(--tbl-border-color);

      svg {
        height: 16px;
        width: 16px;
      }
    }
  }

  .open-bets-wrapper {
    h6 {
      font-size: 12px;
      font-weight: bold;
      background-color: var(--xl-th-bg);
    }

    select {
      padding: 4px;
      width: 100%;
    }

    .open-bets-table {
      max-height: 200px;
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        max-height: unset;
        overflow-y: unset;
      }

      &.collapse {
        max-height: calc(100vh - 384px);
      }

      .info-wrapper {
        margin-top: 2px;
        width: 50px;
        text-align: center;

        .info-icon {
          svg {
            height: 14px;
            width: 14px;
          }
        }
      }

      .odd-type {
        width: 32px;
      }
    }

    .ng-select {
      .ng-select-container {
        min-height: 25px;
        height: 25px;
        border-radius: 3px;

        .ng-value-container {
          padding-left: 5px;

          .ng-input {
            padding: 0 50px 0 5px;
          }
        }

        .ng-arrow-wrapper {
          .ng-arrow {
            border-left: 2px solid var(--black);
            border-bottom: 2px solid var(--black);
            transform: rotate(-45deg);
            border-right: 0;
            border-top: 0;
            width: 7px;
            height: 7px;
            vertical-align: 4px;
            top: 0;
          }
        }
      }
    }

    .with-slip {
      max-height: calc(100vh - 360px);
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        max-height: calc(100vh - 81px);
      }
    }

    .table {
      width: 100%;

      thead {
        tr {
          th {
            padding: 8px 6px;
            font-weight: 500;
            line-height: 14px;
            font-size: 11px;
            position: relative;
            white-space: nowrap;
            border-bottom: 1px solid var(--white);

            &:first-child {
              width: 45%;
            }

            &:not(:first-child) {
              width: 20%;
            }

            color: var(--dark);

            @media screen and (max-width: 767px) {
              font-size: 2.93333vw;
              line-height: 1.3;
              padding: 1.8vw 1.86667vw;
              color: var(--dark);

              &:first-child {
                width: 61%;
                font-weight: 600;
              }
            }

            &::after {
              position: absolute;
              content: '';
              width: 1px;
              height: 50%;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              border-radius: 1px;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            font-weight: 500;
            padding: 8px 6px;
            font-size: 11px;
            vertical-align: middle;
            overflow: hidden;
            text-align: center;
            background-color: transparent;
            border-bottom: 1px solid var(--white);

            @media screen and (max-width: 767px) {
              padding: 1.33333vw 1.86667vw;

              &:first-of-type {
                padding-right: 1.86667vw;
              }

              p {
                font-size: 3.46667vw;
                line-height: 1.3;
              }
            }

            &:first-child {
              width: 8%;
              padding-right: 0;
            }

            .open-bet-selection-name {
              width: 100px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: 600;
              font-size: 12px;
              color: var(--lg-blue);

              @media screen and (max-width: 767px) {
                font-size: 3.46667vw;
                line-height: 1.3;
                white-space: nowrap;
                display: block;
                color: var(--dark);
                width: 19.038vw;
              }

              + p {
                color: var(--xls-black);
                opacity: 0.5;
              }
            }

            .odd-type {
              padding: 3px 4px;
              border-radius: 4px;

              @media screen and (max-width: 767px) {
                border-radius: 1.06667vw;
                font-size: 3.46667vw;
                line-height: 7vw;
                width: 12vw;
                padding: 0;
                color: var(--dark);
              }
            }

            h6 {
              font-size: 14px;
              margin-bottom: 0;
              padding-left: 16px;
              position: relative;
              color: var(--white);

              &::before {
                position: absolute;
                content: '';
                font-size: 44px;
                background: var(--dark-gray);
                height: 10px;
                width: 10px;
                border-radius: 100%;
                left: 2px;
                top: 2px;
              }

              &::after {
                position: absolute;
                content: '';
                font-size: 44px;
                background: var(--parrot-color);
                height: 6px;
                width: 6px;
                border-radius: 100%;
                left: 4px;
                top: 4px;
              }
            }

            .liability {
              color: var(--color-blue);
            }
          }

          @media screen and (max-width: 767px) {
            &.light-pink {
              td {
                border-bottom: 1px solid var(--xts-red);

                .odd-type {
                  background-color: var(--xs-red);
                }
              }
            }

            &.lightest-blue {
              td {
                border-bottom: 1px solid var(--md-blue-border);

                .odd-type {
                  background-color: var(--xs-blue);
                }
              }
            }
          }
        }
      }
    }

    .details-open-bets {
      background-color: var(--dark);

      > p {
        padding: 14px 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--white);

        @media screen and (max-width: 767px) {
          padding: 0 1.06667vw 0 1.86667vw;
          line-height: 10.66667vw;
        }
      }

      > span {
        padding: 13px 13px 15px 9px;
        border-right: 1px solid var(--md-black);
        color: var(--white);

        @media screen and (max-width: 767px) {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 10.66667vw;
          border-right: 1px solid var(--sm-black);

          svg {
            height: 5vw;
            width: 5vw;
          }
        }
      }
    }

    .bet-info {
      color: var(--white);
    }

    h6 {
      @media screen and (max-width: 767px) {
        padding: 0 1.86667vw !important;
        background-image: linear-gradient(
          -180deg,
          var(--xl-blue) 0%,
          var(--xxl-blue) 82%
        );
        font-size: 3.73333vw;
        line-height: 2.2;
        color: var(--white);
        font-weight: 600;
      }
    }
  }

  .mobile-open-bet-list {
    overflow-y: auto;
    max-height: calc(100vh - 50px);

    .open-bets-list {
      position: relative;
      border-bottom: 1px solid var(--lg-gray);

      > p {
        padding: 17px 0px 20px 33px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 50px);
        color: var(--blue);

        &::before {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          background: var(--xl-th-bg);
          border-radius: 100%;
          border-color: var(--black);
          left: 9px;
          top: 50%;
          transform: translateY(-50%);
        }

        @media screen and (max-width: 767px) {
          padding: 2.13333vw 9.06667vw 2.13333vw 6.66667vw;
          max-width: 100%;
          line-height: 1.6;
          font-size: 4vw;
          font-weight: 600;

          &::before {
            width: 2.66667vw;
            height: 2.66667vw;
            border: 1px solid rgba(var(--md-dark-rgb), 0.4);
          }
        }
      }

      .right-arrow {
        width: 30px;
        height: 30px;
        border: 1px solid var(--light-bg);
        background-color: var(--open-bet-icon);
        border-radius: 2px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);

        i {
          line-height: 0;
        }

        @media screen and (max-width: 767px) {
          height: 6.4vw;
          width: 6.4vw;
          border-radius: 1.06667vw;

          svg {
            height: 6.4vw;
            width: 6.4vw;
          }
        }
      }
    }
  }

  .form-check {
    display: flex;
    align-items: center;

    .form-check-label {
      margin-left: 5px;
    }

    .form-check-input {
      height: 20px;
      width: 20px;
      border: 1px solid #2789ce;
      box-shadow: inset 0 3px #00000040;
      border-radius: 50%;
    }

    .form-check-input:checked[type='checkbox'] {
      --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg%20width='12'%20height='12'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20id='icon-check'%20clip-path='url(%23clip0_10516_18644)'%3e%3cg%20id='check'%20filter='url(%23filter0_d_10516_18644)'%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M10.5826%201.97133C10.7707%202.1238%2010.8876%202.32202%2010.9333%202.57105C10.9791%202.815%2010.9282%203.04371%2010.7808%203.25717L6.23722%2010.0624C6.08475%2010.2556%205.90179%2010.3775%205.67816%2010.4182C5.44946%2010.469%205.24108%2010.4182%205.04795%2010.2657C4.93106%2010.1743%204.62612%209.85915%204.12804%209.30517C3.62997%208.76136%203.1624%208.22771%202.72023%207.71948L2.04428%206.95712C1.87966%206.77525%201.79218%206.53651%201.80033%206.29133C1.80033%206.03722%201.88673%205.81868%202.06461%205.64079C2.23741%205.45783%202.44579%205.37143%202.67449%205.38159C2.91336%205.38668%203.11157%205.48832%203.26913%205.68653L5.44437%208.09557L9.39845%202.17463C9.54075%201.9815%209.7288%201.85952%209.9575%201.81886C10.1811%201.76804%2010.3895%201.81886%2010.5826%201.97133Z'%20fill='white'/%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cfilter%20id='filter0_d_10516_18644'%20x='1.7998'%20y='1.7998'%20width='9.1499'%20height='10.6377'%20filterUnits='userSpaceOnUse'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'/%3e%3cfeColorMatrix%20in='SourceAlpha'%20type='matrix'%20values='0%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200'%20result='hardAlpha'/%3e%3cfeOffset%20dy='2'/%3e%3cfeComposite%20in2='hardAlpha'%20operator='out'/%3e%3cfeColorMatrix%20type='matrix'%20values='0%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.25%200'/%3e%3cfeBlend%20mode='normal'%20in2='BackgroundImageFix'%20result='effect1_dropShadow_10516_18644'/%3e%3cfeBlend%20mode='normal'%20in='SourceGraphic'%20in2='effect1_dropShadow_10516_18644'%20result='shape'/%3e%3c/filter%3e%3cclipPath%20id='clip0_10516_18644'%3e%3crect%20width='12'%20height='12'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
      background-size: 70%;
      background-color: #2789ce;
      box-shadow: none;
    }
  }

  .bet-blue-xxs {
    background-color: #beddf466;
  }

  .bet-red-xxs {
    background-color: #faeff2;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 52px;
  }

  .no-open-bets {
    &.yellow-theme {
      p {
        margin: 0;
        font-size: 17px;
      }
    }
  }
}
