.stake-section-wrapper {
  position: relative;
  border-bottom: 1px solid var(--sm-text-color);
  box-shadow: 0 1px 0 rgb(var(--white-rgb), 0.8);
  line-height: 15px;
  padding-bottom: 2px;
  margin-bottom: 5px;

  @media screen and (max-width: 767px) {
    font-size: 4vw;
    color: var(--light-navy);
    border-bottom: 1px solid var(--light-bg);
    padding: 0 1.8666666667vw;
    margin-bottom: 0;
  }

  .reverse {
    @media screen and (max-width: 767px) {
      flex-direction: row-reverse;
    }
  }
}

.stake-title {
  font-size: 11px;
  margin: 0 5px 5px 0;

  @media screen and (max-width: 767px) {
    margin: 1.8666666667vw 0;
    font-size: 4vw;
  }

  label {
    font-weight: 700;
    color: var(--text-color);

    @media screen and (max-width: 767px) {
      font-weight: normal;
    }
  }

  input {
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin: 0 5px;
    width: 29.1666666667%;
    font-size: 11px;

    @media screen and (max-width: 767px) {
      width: 29.6666666667vw;
      padding: 2.6666666667vw 1.8666666667vw;
      margin: 0 1.6666vw;
      height: auto;
      font-size: 4vw;
      line-height: normal;
      border-color: var(--xxl-gray);
      border-radius: 1.6vw;
      box-shadow: inset 0 0.5333333333vw 0 0 rgba(var(--black-rgb), 0.1);
      text-align: right;

      &:focus {
        box-shadow: inset 0 0.2666666667vw 1.3333333333vw
          rgba(var(--xss-yellow), 0.6);
        border-color: var(--coffee);
      }
    }
  }
}

.title {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;

  @media screen and (max-width: 767px) {
    margin: 0 -2.4vw;
    margin-bottom: 1.8666666667vw;
    padding: 0 1.8666666667vw;
    background-image: linear-gradient(
      -180deg,
      var(--xl-blue) 0%,
      var(--xxl-blue) 82%
    );
    color: var(--white);
    font-size: 3.7333333333vw;
    line-height: 2.2;
    font-weight: 700;
  }

  &.odds {
    background-image: none;
    color: var(--light-navy);
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
}

.quick-stake {
  @media screen and (max-width: 767px) {
    margin-right: -1.8666666667vw;
  }

  .number-box-main {
    display: flex;
    flex-wrap: wrap;

    .number-box {
      width: 50px;
      margin: 0 5px 5px 0;

      @media screen and (max-width: 767px) {
        width: 22.65vw;
        margin: 0 1.8666666667vw 1.8666666667vw 0;
      }

      input {
        background: linear-gradient(
          180deg,
          var(--white) 0%,
          var(--xs-gray) 89%
        );
        border: 1px solid var(--lg-black);
        box-shadow: inset 0 2px 0 0 rgb(var(--black-rgb), 0.1);
        line-height: 18px;
        padding: 0;
        text-align: center;
        font-size: 11px;

        @media screen and (max-width: 767px) {
          border-radius: 1.6vw;
          font-size: 4vw;
          font-weight: bold;
          line-height: 2.2;
        }

        &:hover {
          background: linear-gradient(
            180deg,
            var(--xs-gray) 0%,
            var(--white) 89%
          );
        }

        &.btn-yellow {
          background: var(--md-yellow);
          font-weight: normal;
        }
      }
    }
  }

  .edit-btn {
    border: 1px solid var(--sm-text-color);
    box-shadow: inset 0 1px 0 0 rgb(var(--white-rgb), 0.8);
    background-color: transparent;
    background-image: none;
    color: var(--text-color);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding: 0;
    width: 82px;
    font-weight: normal;

    @media screen and (max-width: 767px) {
      width: calc(100% - 1.8666666667vw);
      height: auto;
      line-height: 2.6;
      font-weight: bold;
      background-color: rgba(var(--xss-darkest), 0.4);
      border: 0.2666666667vw solid var(--sm-text-color);
      box-shadow: inset 0 0.5333333333vw 0 0 rgba(var(--white-rgb), 0.8);
      border-radius: 1.6vw;
      font-size: 4vw;
      margin-bottom: 1.8666666667vw;
    }

    span {
      color: var(--light-navy);
    }

    .edit-icon {
      height: 9px;
      width: 9px;
      background: url('/img/icon-stake-edit.png') no-repeat;
      background-position: right;

      @media screen and (max-width: 767px) {
        width: 4vw;
        height: 4vw;
        background: url('/img/svg/edit-big.svg') no-repeat;
        background-position: right;
        margin-left: 1.3333333333vw;
        background-size: contain;
      }
    }

    &.ok-btn {
      color: var(--white);
      border-color: var(--lg-primary);
      background-image: linear-gradient(
        180deg,
        var(--xs-primary) 0%,
        var(--xxs-primary) 100%
      );

      &:hover {
        background-image: linear-gradient(
          180deg,
          var(--xxs-primary) 0%,
          var(--xs-primary) 100%
        );
        border-color: var(--lg-primary);
      }

      &:focus {
        border-color: var(--lg-primary);
      }
    }
  }
}

.stake-footer {
  @media screen and (max-width: 767px) {
    gap: 2vw;
    padding: 3.8666666667vw 1.8666666667vw 1.8666666667vw;
  }
}

.btn-wrapper {
  width: 50%;

  @media screen and (max-width: 767px) {
    flex: 1;
    width: auto;
  }

  .btn {
    width: 90%;

    @media screen and (max-width: 767px) {
      height: 10.9333333333vw;
      width: 100%;
      font-size: 4vw;
      border-radius: 1.6vw;
    }
  }
}

.custom-switch {
  .switch {
    position: relative;
    display: inline-block;
    width: 9.33333vw;
    height: 9.33333vw;

    @media screen and (min-width: 768px) {
      display: none;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--chip-xl-color);
      border-radius: 1.6vw;
      box-shadow: inset 0 0.26667vw 0.8vw 0 rgba(var(--black-rgb), 0.5);

      &::before {
        position: absolute;
        content: '';
        height: 7.2vw;
        width: 2.66667vw;
        left: 1.06667vw;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--white);
        border-radius: 1.06667vw;
        box-shadow:
          0 0.53333vw 1.06667vw 0 rgba(var(--black-rgb), 0.5),
          inset 0 -0.8vw 0 0 var(--chip-sm-color);
      }

      &::after {
        content: '';
        width: 1.06667vw;
        height: 1.33333vw;
        background: var(--light-bg);
        box-shadow: inset 0 0.26667vw 0.26667vw 0 rgba(var(--black-rgb), 0.26);
        border-radius: 0.53333vw;
        position: absolute;
        top: 50%;
        left: 7px;
        transform: translateY(-50%);
      }
    }

    input:checked + .slider {
      background-color: var(--light-green);
    }

    input:checked + .slider:before {
      right: 1.06667vw;
      left: unset;
    }

    input:checked + .slider:after {
      right: 7px;
      left: unset;
    }
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 1.8666666667vw;
  }
}

.yellow-theme {
  .btn.btn-primary,
  .ok-btn {
    background: linear-gradient(
      0deg,
      var(--md-primary-yellow) 0%,
      #ffa10c 100%
    ) !important;
    border-color: var(--coffee) !important;
    color: #000000;

    &:hover {
      background: linear-gradient(
        0deg,
        #ffa10c 0%,
        var(--md-primary-yellow) 100%
      ) !important;
    }
  }
}

.mcw-casino-theme {
  .btn.btn-primary,
  .ok-btn {
    color: #ffd354 !important;
    border-color: #222 !important;
    background: linear-gradient(180deg, #474747 0%, #070707 100%) !important;

    &:hover {
      background: linear-gradient(180deg, #474747 0%, #070707 100%) !important;
    }
  }
}
