.sub-header-wrapper {
  --md-black: #434343;
  --sm-yellow: #f0db55;
  --sm-primary: #387a6a;
  --md-primary: #469986;

  background: var(--md-black);
  box-shadow: inset 0 1px 3px 0 rgba(var(--black-rgb), 0.4);
  margin-bottom: 1px;

  &.dark-row {
    background: var(--dark);
  }

  &.mcw-casino-theme {
    background: linear-gradient(180deg, #e8d877 0%, #c9a43e 100%);

    .full-wrap {
      .tabs-header {
        &.yellow-theme {
          ul {
            margin-left: -10px;
          }
        }

        li {
          color: #000000;
          border-left-color: rgba(0, 0, 0, 0.2);

          &.active {
            background: #c9a33d;
          }
        }
      }
    }
  }

  &.babu-theme {
    .full-wrap {
      .tabs-header {
        ul {
          li {
            &.active {
              background: linear-gradient(0deg, #fd1111, #0e0e0e);
            }

            &:hover {
              background: linear-gradient(0deg, #fd1111, #0e0e0e);
            }
          }
        }
      }
    }
  }

  .full-wrap {
    position: relative;
    max-width: calc(100% - 40px);
    height: calc(100% - 105px);
    margin: 0 auto;
    min-width: auto;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      padding: 0 10px;
      color: var(--white);
      font-weight: 700;
      position: relative;
      line-height: 30px;
      cursor: pointer;
      list-style: none;

      & + li {
        border-left: 1px solid rgba(var(--white-rgb), 0.15);
      }

      &:last-child {
        border-right: 1px solid rgba(var(--white-rgb), 0.15);
      }

      &.active {
        background: rgba(var(--white-rgb), 0.2);
        box-shadow: inset 0 1px 3px 0 rgba(var(--black-rgb), 0.1);

        &:hover {
          background: rgba(var(--white-rgb), 0.2);
        }
      }

      &:hover {
        background: rgba(var(--white-rgb), 0.1);
      }

      .live-chip {
        position: absolute;
        top: 0;
        right: 3px;
        transform: translateY(-50%);
        height: 12px;
        border-radius: 3px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        display: inline-flex;
        overflow: hidden;
        z-index: 9;

        .number {
          font-size: 10px;
          line-height: 0.8;
          margin-bottom: 0;
          padding: 2px 5px;
          background-color: var(--red, #e83623);
          color: var(--white);
          letter-spacing: 0.4px;
          font-weight: 700;
        }

        .icon-out {
          height: 12px;
          background-color: var(--white);
          padding: 2px 4px;
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: '';
            background: url('../../public/img/svg/live-icon.svg') no-repeat;
            background-size: contain;
            height: 8px;
            width: 14px;
          }
        }
      }
    }
  }

  .right-inner-header {
    display: inline-flex;
    align-items: center;

    .bet-check {
      border-top: 3px solid var(--sm-yellow);
      padding: 0 12px 0 7px;
      background-image: linear-gradient(
        180deg,
        var(--sm-black) 0%,
        var(--black) 100%
      );
      margin-top: -3px;
      border-right: 1px solid rgba(var(--white-rgb), 0.15);
      height: 33px;
      padding-top: 2px;

      &:hover {
        background-image: linear-gradient(180deg, var(--black) 0%, var(--sm-black) 100%);
      }

      input {
        height: 18px;
        width: 18px;
        border-color: var(--sm-yellow);
        background-color: transparent;

        &:focus {
          box-shadow: none;
        }

        &:checked {
          background-color: var(--md-black);
        }
      }

      .form-check-label {
        vertical-align: -webkit-baseline-middle;
        color: var(--white);
        font-weight: 700;
        margin-left: 10px;
      }

      &.bet-check-active {
        background-image: linear-gradient(0deg, var(--sm-primary) 0%, var(--md-primary) 100%);

        &:hover {
          background-image: linear-gradient(0deg, var(--md-primary) 0%, var(--sm-primary) 100%);
        }
      }
    }

    .setting {
      color: var(--white);
      gap: 5px;
      font-weight: 700;
      padding: 0 10px;
      line-height: 30px;
      cursor: pointer;

      svg {
        height: 14px;
        width: 14px;
      }

      &:hover {
        background: rgba(var(--white-rgb), 0.1);
      }
    }
  }
}

.stake-popup-container {
  min-width: 282px;

  .popover-body {
    min-height: 100px;
    background-color: var(--light-bg);
    font-size: 11px;
    color: var(--text-color);
    padding: 10px;
    font-family: Tahoma, Helvetica, sans-serif;
  }
}

.yellow-theme {
  ul {
    margin-left: -4px;
  }

  .right-inner-header {
    margin-right: 20px;

    .bet-check {
      border-top-color: var(--light-green);

      &.bet-check-active {
        background-image: linear-gradient(180deg, #4e9600 0%, #386a02 100%);

        &:hover {
          background-image: linear-gradient(180deg, #386a02 0%, #4e9600 100%);
        }
      }

      input {
        border: 0;
        background-color: #ffffff26;
        height: 16px;
        width: 16px;

        &:checked {
          background-color: rgba(255, 255, 255, 0.15);
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}

.mcw-casino-theme {
  .right-inner-header {
    .bet-check {
      border-top-color: #d56525;
      background-image: linear-gradient(0deg, #4b4b4b 0%, #1e1e1e 100%);

      .form-check-label {
        color: #ecca3d;
      }

      &.bet-check-active {
        background-image: linear-gradient(180deg, #b43807 0%, #912b06 100%);

        &:hover {
          background-image: linear-gradient(0deg, #b43807 0%, #912b06 100%);
        }

        .form-check-input {
          border-color: rgba(255, 211, 84, 0.4);

          &:checked {
            background-color: rgba(0, 0, 0, 0.15);
            --bs-form-check-bg-image: url('/img/yellow-check.svg');
          }
        }

        label {
          color: #ecca3d;
        }
      }

      input {
        border: 0;
        background-color: #ffffff26;
        height: 16px;
        width: 16px;
      }
    }

    .setting {
      color: #000000;
    }
  }
}
