@font-face {
  font-family: 'Product Sans Black';
  src: url('/fonts/product-sans/ProductSans-Black.eot');
  src:
    url('/fonts/product-sans/ProductSans-Black.woff') format('woff'),
    url('/fonts/product-sans/ProductSans-Black.woff2') format('woff2'),
    url('/fonts/product-sans/ProductSans-Black.ttf') format('truetype'),
    url('/fonts/product-sans/ProductSans-Black.svg') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans Bold';
  src: url('/fonts/product-sans/ProductSans-Bold.eot');
  src:
    url('/fonts/product-sans/ProductSans-Bold.woff') format('woff'),
    url('/fonts/product-sans/ProductSans-Bold.woff2') format('woff2'),
    url('/fonts/product-sans/ProductSans-Bold.ttf') format('truetype'),
    url('/fonts/product-sans/ProductSans-Bold.svg') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans Light';
  src: url('/fonts/product-sans/ProductSans-Light.eot');
  src:
    url('/fonts/product-sans/ProductSans-Light.woff') format('woff'),
    url('/fonts/product-sans/ProductSans-Light.woff2') format('woff2'),
    url('/fonts/product-sans/ProductSans-Light.ttf') format('truetype'),
    url('/fonts/product-sans/ProductSans-Light.svg') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans Medium';
  src: url('/fonts/product-sans/ProductSans-Medium.eot');
  src:
    url('/fonts/product-sans/ProductSans-Medium.woff') format('woff'),
    url('/fonts/product-sans/ProductSans-Medium.woff2') format('woff2'),
    url('/fonts/product-sans/ProductSans-Medium.ttf') format('truetype'),
    url('/fonts/product-sans/ProductSans-Medium.svg') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans Regular';
  src: url('/fonts/product-sans/ProductSans-Regular.eot');
  src:
    url('/fonts/product-sans/ProductSans-Regular.woff') format('woff'),
    url('/fonts/product-sans/ProductSans-Regular.woff2') format('woff2'),
    url('/fonts/product-sans/ProductSans-Regular.ttf') format('truetype'),
    url('/fonts/product-sans/ProductSans-Regular.svg') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans Thin';
  src: url('/fonts/product-sans/ProductSans-Thin.eot');
  src:
    url('/fonts/product-sans/ProductSans-Thin.woff') format('woff'),
    url('/fonts/product-sans/ProductSans-Thin.woff2') format('woff2'),
    url('/fonts/product-sans/ProductSans-Thin.ttf') format('truetype'),
    url('/fonts/product-sans/ProductSans-Thin.svg') format('svg');
  font-display: swap;
}
