.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-wrapper {
  width: calc(100% - 40px);
  position: relative;
  margin: 0 auto;
  margin-top: 105px;
  background-color: var(--xs-gray);

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    width: calc(100% - 25px);
  }

  @media screen and (max-width: 767px) {
    margin-top: 14.6666666667vw;
    width: 100%;
  }

  .plateform-content {
    padding-bottom: 70px;
  }

  &.no-header-wrapper {
    margin-top: 31px;

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }

    .middle-content {
      overflow-y: auto;
      height: calc(100svh - 31px);

      .scroll-wrap {
        max-height: calc(100svh - 31px);
        overflow-y: auto;
      }
    }
  }

  .left-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 17.3611111111%;
    height: calc(100vh - 105px);
    background-color: var(--xl-black);

    &.light-sidebar {
      background-color: var(--white);

      @media screen and (min-width: 768px) {
        width: 16.329787234%;
      }
    }

    &.mcw-casino-sidebar {
      background-color: var(--white);
    }

    @media screen and (max-width: 767px) {
      height: calc(100vh - 14.6666666667vw);
    }
  }

  .middle-content {
    position: relative;
    margin-left: 17.3611111111%;
    margin-right: 26.0416666667%;
    padding: 0 15px;
    height: calc(100svh - 105px);
    overflow-y: auto;

    &.yellow-theme {
      @media screen and (min-width: 768px) {
        margin-left: 16.361111%;
      }
    }

    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    &.mobile-router-outlet {
      padding-bottom: 18vw;

      @media screen and (max-height: 767px) {
        padding-bottom: 14vw;
      }

      &.outlet-header {
        padding-top: 14.7vw;
      }

      &.deposite-btn {
        padding-top: 24.3vw;
      }
    }

    .scroll-wrap {
      min-height: calc(100vh - 148px);
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        min-height: unset;
        max-height: unset;
        overflow-y: visible;

        &.yellow-theme {
          max-height: unset;
        }
      }

      &.show-one-click {
        height: calc(100vh - 161px);
      }

      &.yellow-theme {
        height: auto;
      }
    }
  }

  .right-content {
    position: absolute;
    width: 26.04167%;
    z-index: 8;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--white);
  }

  .full-content {
    width: 1350px !important;
    margin: 0 auto !important;
    padding: 0;
  }
}

.mcv-yellow-theme {
  .main-wrapper.auth {
    min-height: calc(100svh - 105px);
  }
}

.yellow-theme {
  .main-wrapper {
    &.auth {
      min-height: calc(100svh - 105px);
      width: 97.916666666%;
    }

    .left-content {
      background-color: var(--white);
      color: var(--menu-text-color);
    }
  }
}
